<section class="bg-banner2 bg-cover bg-center bg-no-repeat w-auto h-500 md:h-96">
    <div class="h-full text-center sm:p-6 md:col-span-2 p-6 lg:p-8">
        <header class="text-center w-96 mx-auto">
            <h2 class=" font-bold text-white sm:text-3xl  ">
                NHỮNG CON SỐ NỔI BẬT
                <p class="border-b-4 border-white mt-4 w-1/5 mx-auto"></p>
            </h2>
        </header>

        <ul class="grid gap-4 my-8 grid-cols-2 mx-auto lg:mx-64 text-center md:grid-cols-4">
            <li class="border rounded-2xl bg-white md:py-6 flex flex-col relative justify-center items-center h-40">
                <div class="absolute -top-8">
                    <div class="bg-orange-600 w-16 h-16 rounded-full mx-auto mb-2">
                        <img src="../../../assets/sao.svg" alt="" class="mx-auto pt-3">
                    </div>
                    <h2 class="text-title font-bold text-xl py-2 text-center">99%</h2>
                    <p class="mx-3 text-center">Khách hàng hài lòng về dịch vụ</p>
                </div>

            </li>
            <li class="border rounded-2xl bg-white py-6 flex flex-col relative justify-center items-center">
                <div class="absolute -top-8">
                    <div class="bg-orange-600 w-16 h-16 rounded-full mx-auto mb-2">
                        <img src="../../../assets/toanha1.svg" alt="" class="mx-auto pt-3">
                    </div>
                    <h2 class="text-title font-bold text-xl py-2 text-center">63</h2>
                    <p class="mx-3 text-center">Tỉnh thành sử dụng</p>
                </div>

            </li>
            <li class="border rounded-2xl bg-white py-6 flex flex-col relative justify-center items-center h-40">
                <div class="absolute -top-8">
                    <div class="bg-orange-600 w-16 h-16 rounded-full mx-auto mb-2">
                        <img src="../../../assets/toannha2.svg" alt="" class="mx-auto pt-3">
                    </div>
                    <h2 class="text-title font-bold text-xl py-2 text-center">100.00+</h2>
                    <p class="mx-3 text-center">Điểm giao dịch</p>
                </div>

            </li>
            <li class="border rounded-2xl bg-white py-6 flex flex-col relative justify-center items-center">
                <div class="absolute -top-8">
                    <div class="bg-orange-600 w-16 h-16 rounded-full mx-auto mb-2">
                        <img src="../../../assets/doitac.svg" alt="" class="mx-auto pt-3">
                    </div>
                    <h2 class="text-title font-bold text-xl py-2 text-center">1000+</h2>
                    <p class="mx-3 text-center">Đối tác</p>
                </div>

            </li>

        </ul>
    </div>
</section>