<section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
        <header class="text-center w-96 mx-auto">
            <h2 class=" font-bold text-title sm:text-3xl  ">
                KHUYẾN MẠI
                <p class="border-b-4 border-orange-600 my-6 w-1/5 mx-auto"></p>
            </h2>
        </header>
        <p class="max-w-md mx-auto mt-4 text-gray-500 text-center">
            Đừng bỏ lỡ những chương trình khuyến mãi cùng quà tặng hấp dẫn từ U-money
        </p>
        <div id="default-carousel" class="relative" data-carousel="manual">
            <div class="relative h-80 overflow-hidden rounded-lg flex items-center justify-center">
                <!-- Item 1 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div class="block h-auto">
                        <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-3 font-roboto w-3/4 mx-auto">
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div class="block h-auto">
                        <ul class="grid gap-4 mt-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 font-roboto w-3/4 mx-auto">
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <div class="block h-auto">
                        <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-3 font-roboto w-3/4 mx-auto">
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                            <li class="">
                                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                                    <img src="../../../assets/khuyenmai.svg" alt="" class="w-full mx-auto py-2 px-2" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Slider indicators -->
            <div class="flex justify-center mt-5 gap-3">
                <button type="button"
                    class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500  hover:bg-orange-500"
                    aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
                <button type="button"
                    class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500  hover:bg-orange-500"
                    aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
                <button type="button"
                    class="w-3 h-3 rounded-full bg-FF5C01 border border-orange-500 hover:bg-orange-500"
                    aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
            </div>
            <!-- Slider button -->
            <div class="lg:hidden">
                <button type="button"
                    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full md:px-4 cursor-pointer group focus:outline-none"
                    data-carousel-prev>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-orange-500 dark:text-gray-800" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 1 1 5l4 4" />
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button type="button"
                    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full md:px-4 cursor-pointer group focus:outline-none"
                    data-carousel-next>
                    <span
                        class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                        <svg class="w-4 h-4 text-orange-500 dark:text-gray-800" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>
        </div>

        <button
            class=" bg-orange-500 rounded-3xl py-3 px-8 my-9 m-auto flex justify-between items-center hover:drop-shadow-3xl">
            <img src="../../../assets/timhieuthem.svg" alt="" srcset="">
            <p class="text-white ml-2">Xem tất cả</p>
        </button>
    </div>
</section>