<section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
        <header class="text-center w-80 mx-auto">
            <h2 class=" font-bold text-title sm:text-3xl  ">
                GIAO DỊCH BẢO MẬT VÀ AN TOÀN
                <p class="border-b-4 border-orange-600 my-6 w-1/5 mx-auto"></p>
            </h2>
        </header>
        <p class="max-w-md mx-auto mt-4 text-gray-500 text-center">
            U-Money đảm bảo an toàn tuyệt đối khi sử dụng
        </p>
        <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-3 mx-40">
            <li class="border shadow-3xl rounded-2xl">
                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                    <img src="../../../assets/mapin.svg" alt="" class="w-20 mx-auto pt-14" />

                    <div class=" relative pt-3 bg-white">
                        <h3 class="text-sm text-black font-bold text-center py-6 ">
                            Bảo mật hai lớp bằng mã PIN và OTP
                        </h3>
                    </div>
                </a>

            </li>
            <li class="border shadow-3xl rounded-2xl">
                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                    <img src="../../../assets/3DS.svg" alt="" class="w-20 mx-auto pt-14" />

                    <div class=" relative pt-3 bg-white">
                        <h3 class="text-sm text-black font-bold text-center py-6 ">
                            Ứng dụng công nghệ bảo mật 3DS

                        </h3>
                    </div>
                </a>

            </li>
            <li class="border shadow-3xl rounded-2xl">
                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                    <img src="../../../assets/PCI.svg" alt="" class="w-20 mx-auto pt-14 h-141" />

                    <div class=" relative pt-3 bg-white">
                        <h3 class="text-sm text-black font-bold text-center py-6 ">
                            Chứng nhận bảo mật quốc tế PCI DSS

                        </h3>
                    </div>
                </a>

            </li>
            <!-- <li class="border">
                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2">
                    <img src="../../../assets/PCI.svg" alt="" class=" mx-auto pt-14" />

                    <div class=" relative pt-3 bg-white">
                        <h3 class="text-sm text-black font-bold text-center py-6 ">
                            Chứng nhận bảo mật quốc tế PCI DSS
                        </h3>
                    </div>
                </a>
            </li> -->
        </ul>
    </div>
</section>