<section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
        <header class="text-center w-80 mx-auto">
            <h2 class=" font-bold text-title sm:text-3xl  ">
                SẢN PHẨM
                <p class="border-b-4 border-orange-600 my-6 w-1/5 mx-auto"></p>
            </h2>
        </header>
        <p class="max-w-md mx-auto mb-6 text-gray-500 text-center">
            U -Money cung cấp cho Khách hàng những sản phẩm với tính năng nổi trội.
        </p>
        <ul class="grid gap-6 font-roboto sm:grid-cols-2 lg:px-40">
            <li class="border rounded-2xl shadow-3xl h-full flex flex-col">
                <a href="#" class="overflow-hidden group mx-auto px-2 py-2 flex-grow flex flex-col">
                    <img src="../../../assets/Logo.svg" alt="" class="w-52 mx-auto pt-14" />

                    <div class=" relative pt-3 bg-white text-left ml-12">
                        <h3 class="text-lg text-black font-bold text-center py-6">
                            U-money
                        </h3>

                        <div class="mt-2 leading-10 ">
                            <p class="text-sm font-semibold text-gray-900"> Giải pháp chuyển tiền và thanh
                                toán nhanh
                                chóng
                            </p>
                            <div class="">
                                <p><img src="../../../assets/Polygon.svg" alt=""
                                        class="inline-block align-baseline mr-3">Không tính phí duy
                                    trì
                                </p>
                                <p><img src="../../../assets/Polygon.svg" alt=""
                                        class="inline-block align-baseline mr-3"><span>Thanh toán đa nền
                                        tảng</span>
                                </p>
                            </div>

                        </div>
                    </div>

                </a>
                <div class="text-center my-8">
                    <button
                        class=" bg-orange-500 rounded-3xl py-3 px-8 my-9 m-auto flex justify-between items-center hover:drop-shadow-3xl">
                        <img src="../../../assets/timhieuthem.svg" alt="" srcset="">
                        <p class="text-white ml-2">Tìm hiểu thêm</p>
                    </button>
                </div>


            </li>
            <li class="border rounded-2xl shadow-3xl h-full flex flex-col">
                <a href="#" class="block overflow-hidden group mx-auto px-2 py-2 flex-grow">
                    <img src="../../../assets/Logo.svg" alt="" class="w-52 mx-auto pt-14" />

                    <div class=" relative pt-3 bg-white text-left ml-12">
                        <h3 class="text-lg text-black font-bold text-center py-6">
                            Cổng thanh toán
                        </h3>

                        <div class="mt-2 leading-10 ">
                            <p class="text-sm font-semibold text-gray-900">Website/ứng dụng của đối tác
                            </p>
                            <div class="">
                                <p><img src="../../../assets/Polygon.svg" alt=""
                                        class="inline-block align-baseline mr-3">Tích hợp đơn giản dễ
                                    dang thanh toán
                                </p>
                                <p><img src="../../../assets/Polygon.svg" alt=""
                                        class="inline-block align-baseline mr-3"><span>Nhận khoản thanh
                                        toán online từ khách hàng</span>
                                </p>
                            </div>

                        </div>
                    </div>

                </a>
                <div class="text-center my-8">
                    <button
                        class=" bg-orange-500 rounded-3xl py-3 px-8 my-9 m-auto flex justify-between items-center hover:drop-shadow-3xl">
                        <img src="../../../assets/timhieuthem.svg" alt="" srcset="">
                        <p class="text-white ml-2">Tìm hiểu thêm</p>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>