<section class="bg-banner3 bg-cover bg-center bg-no-repeat w-full h-auto pb-6">
    <header class="text-center w-80 mx-auto">
        <h2 class=" font-bold text-title sm:text-3xl py-8">
            ĐĂNG KÝ VÀ NẠP SIÊU DỄ DÀNG
            <p class="border-b-4 border-orange-600 mt-6 w-1/5 mx-auto"></p>
        </h2>
    </header>
    <p class="max-w-md mx-auto mt-4 text-gray-500 text-center">
        U -Money cung cấp cho Khách hàng những sản phẩm với tính năng nổi trội.
    </p>
    <div class="mt-8 lg:mx-80 m-auto">

        <div id="myTabContent">
            <div id="profile" role="tabpanel" aria-labelledby="profile-tab">
            </div>
            <div id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            </div>
            <div id="settings" role="tabpanel" aria-labelledby="settings-tab">
            </div>
        </div>

        <div class="flex justify-between items-center ml-5 text-center font-sans font-semibold ">
            <ul class="gap-5 md:flex flex-wrap text-sm font-medium text-center mx-auto" id="myTab"
                data-tabs-toggle="#myTabContent" role="tablist">
                <li class="lg:mr-2" role="presentation">
                    <button
                        class="w-40 px-2 py-2 lg:w-64 lg:py-3 lg:px-5 text-gray-900 bg-white rounded-xl focus:bg-orange-500 focus:text-white active hover:bg-orange-500 hover:text-white drop-shadow-lg"
                        id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="true">Đăng ký/Đăng
                        nhập</button>
                </li>
                <li class="lg:mr-2" role="presentation">
                    <button
                        class="w-40 my-3 md:my-0 py-2 lg:w-64 lg:py-3 lg:px-5 bg-white text-gray-900 rounded-xl  focus:bg-orange-500 focus:text-white active hover:bg-orange-500 hover:text-white drop-shadow-lg"
                        id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab"
                        aria-controls="dashboard" aria-selected="true">Nạp tiền vào U-Money</button>
                </li>
                <li class=" lg:mr-2" role="presentation">
                    <button
                        class="w-40 px-2 py-2 lg:w-64 lg:py-3 lg:px-5 bg-white text-gray-900 rounded-xl  focus:bg-orange-500 focus:text-white active hover:bg-orange-500 hover:text-white drop-shadow-lg"
                        id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings"
                        aria-selected="true">Kích hoạt</button>
                </li>
            </ul>
        </div>

        <div class="mx-auto pt-10 grid grid-cols-3 gap-4">
            <img src="../../../assets/phone.svg" alt="" srcset="" class="mx-auto">
            <div class="col-span-2">
                <div class="grid gap-6 row-gap-10">
                    <div class="lg:py-6 ">
                        <div class="flex">
                            <div class="flex flex-col items-center mr-4">
                                <div>
                                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                                        <img src="../../../assets/1.svg" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="border-dashed border border-gray-300 h-full"></div>
                            </div>
                            <div class="pt-2 pb-8">
                                <p class="mb-2 text-lg font-bold">Tải ứng dụng U-Money</p>
                                <p class="ml-3">
                                    <img src="../../../assets/Polygon.svg" alt="" srcset=""
                                        class="inline-block align-baseline">
                                    Tải miễn phí bằng cách tìm kiếm ứng dụng <a href=""
                                        class="text-orange-500 font-medium">U-money</a> trên <a href=""
                                        class="text-black font-medium">App Store</a> hoặc<a href=""
                                        class="text-black font-medium"> Google Play Store</a>

                                </p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-col items-center mr-4">
                                <div>
                                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                                        <img src="../../../assets/2.svg" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="border-dashed border border-gray-300 h-full"></div>
                            </div>
                            <div class="pt-2 pb-8">
                                <p class="mb-2 text-lg font-bold">Nhập số điện thoại và xác nhận mã OTP gửi qua tin nhắn
                                </p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-col items-center mr-4">
                                <div>
                                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                                        <img src="../../../assets/3.svg" alt="" srcset="">
                                    </div>
                                </div>
                                <div class="border-dashed border border-gray-300 h-full"></div>
                            </div>
                            <div class="pt-2 pb-8">
                                <p class="mb-2 text-lg font-bold">Tại màn hình trang chủ - chọn “Xác thực thông tin</p>
                            </div>
                        </div>
                        <div class="flex">
                            <div class="flex flex-col items-center mr-4">
                                <div>
                                    <div class="flex items-center justify-center w-10 h-10 border rounded-full">
                                        <img src="../../../assets/4.svg" alt="" srcset="">
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2 pb-8">
                                <p class="mb-2 text-lg font-bold">Xác thực thành công - hoàn tất đăng ký </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            class=" bg-orange-500 rounded-3xl py-3 px-8 my-9 m-auto flex justify-between items-center hover:drop-shadow-3xl">
            <img src="../../../assets/timhieuthem.svg" alt="" srcset="">
            <p class="text-white ml-2">Xem tất cả</p>
        </button>
    </div>
</section>